{
    "registry-mirrors": [{% for registry in docker_registry_mirrors %}{% if loop.last %}"{{ registry.mirror-url }}"{% else %}"{{ registry.mirror-url}}",{% endif %}{% endfor %}],
    "max-concurrent-downloads": 20
}